body {
    margin-top: 80px;
}

.profile-frame:hover {
    border: 2px solid #81b33a;
    <!-- #72cc72 -->
}

.profile-frame {
    border: 2px solid #ccc;
    padding: 20px;
}

.profil-navn {
    margin-top: 0px;
}

.profil-row-one {
    margin-bottom: 0px;
}

.artikel-frame {
    border: 2px solid #ccc;
    padding: 20px;
}

.artikel-frame:hover {
    border: 2px solid #81b33a;
<!-- #72cc72 -->
}